body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

#pokemonInfo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.pokemonCard {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.pokemonImage {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.pokemonName {
    font-weight: bold;
    color: #007bff;
}

.pokemonType {
    margin-top: 5px;
    color: #28a745;
}
