body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Azul claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#formulario-container {
    background-color: #d3d3d3; /* Cinza */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select, button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#enviar {
    background-color: #28a745; /* Verde */
}

#limparDados {
    background-color: #dc3545; /* Vermelho */
}

button:hover {
    opacity: 0.8;
}
